/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#29b1ddff;
}

header {
    padding: 0 1rem;
}

h1 {
    color: var(--primary-color);
}

div#filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 3em;
    gap: 5px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ddddddff;
    padding: 1rem;
    gap: 3em;
}

.card {
    text-align: center;
    border-radius: 1em;
    background-color: #f5f5f5ff;
    padding: 1.5em;
    flex-basis: 200px;
    box-shadow: 2px 2px 2px #9f9f9fff;
}

.card i {
    font-size: 3em;
    margin-bottom: 2px;
}

.name {
    text-transform: uppercase;    
}