/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#29b1ddff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;   
    background-color: #ddddddff;
}

header {
    padding: 0 1rem;
    background-color: white;
}

h1 {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 3em;
    gap: 5px;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 3em;
}

.card {
    text-align: center;
    border-radius: 1em;
    background-color: #f5f5f5ff;
    padding: 1.5em;
    flex-basis: 200px;
    box-shadow: 2px 2px 2px #9f9f9fff;
    margin-bottom: 4em;
}

.card i {
    font-size: 3em;
    margin-bottom: 5px;
}

.name {
    text-transform: uppercase; 
}